.badge{
    background-color:tomato;
    width:20px;
    height:20px; 
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    color:white;
    font-weight:600px;
}

.badge-2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:tomato;
    width:8px;
    height:8px; 
    border-radius: 4px;
    position:absolute;
    right: -6px;
    top: -6px;
}