.nav{
    position: fixed;
    bottom:0;
    width:100%;
    background-color:#F8F8F8;
    padding:20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(85, 83, 83, 0.8);
}

.nav__list{
    display:flex;
    justify-content: space-between;
}

.nav__link{
    position:relative;
    color: #2e363e
}

@keyframes notificationAnimation {
   0% {
       transform : none;
   }

   50%{
    transform : translateY(-10px) rotateY(180deg);

   }

   100%{
    transform : none;


   }
     
}


.nav__notification{
    position:absolute;
    left: 20px;
    bottom: 18px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__notification_ellipsis{
    background-color:tomato;
    width: 8px;
    height: 8px; 
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 4px;
    position:absolute;
    left: 25px;
    bottom: 20px;
}

.nav__notification_heder_gear{
    display:flex;
    background-color:tomato;
    width: 8px;
    height: 8px; 
    justify-content: center;
    align-items:center;
    border-radius: 4px;
    position:absolute;
    left: 25px;
    bottom: 25px;
}

@keyframes appearBtnAnimation{

 from{
        
        opacity:0;
    }

  to {
        transform : none;
        opacity:1;
 }
}

.nav_btn{
    transform:translateY(50px);
    opacity:0;
    animation : appearBtnAnimation 0.3s ease-in-out forwards;    
}

.nav_btn:nth-child(2){
  animation-delay: 0.2s;
}

.nav_btn:nth-child(3){
    animation-delay: 0.5s;
}

.nav_btn:last-child{
    animation-delay: 0.8s;
}